<footer class="footer flex">
      <div>
        <h3 class="">Christophe Craig</h3>
        <ul class="">
          <li><a href="/" class="link">Home</a></li>
          <li><a href="/travel" class="link">My travels</a></li>
          <li><a href="/about" class="link">About</a></li>
          <li><a href="/post" class="link">Blog</a></li>
          <li><a href="/contact" class="link">Contact</a></li>
        </ul>
      </div>

      <div>
        <h3 class="">Find out more</h3>
        <ul class="">
          <li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
          <li><a href="/contact" class="link">Schedule and appointment</a></li>
        </ul>
      </div>

      <div>
        <h3 class="">Social media</h3>
        <ul class="">
          {{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
          {{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }} {{
          partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }} {{
          partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
        </ul>
      </div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
