<section class="trip flex">
  <header class="trip-header flex">
    <h3 class="trip-title">{{.title}}</h3>
    <div class="date">
      <div class="date-icon">
        <svg width="20px" height="20px" class="db">
          <use xlink:href="#icons-calendar"></use>
        </svg>
      </div>
      <time datetime="{{.dates}}">{{dateFormat "01-2006" .dates}}</time>
    </div>
  </header>
  <div class="trip-content flex">
    <div class="trip-images flex">
      {{ range .pictures }}
      <div class="trip-image">
          {{ $url := .}} wait for it
        <img src="" />
      </div>
      {{ end }}
    </div>
  </div>
  <div class="trip-text">{{.text}}</div>
</section>
