/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #152E22;
    font-family: "Martel Sans";
}

.flex {
    display: flex;
}

.td-none {
    text-decoration: none;
}

.menu {
    flex: 1;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu-item {
    color: #E4E0E0;
}

.menu-item:hover {
    color: #FFF;
}

.site-title {
    padding: 0 42px;
    color: #E4E0E0;
}

.navbar {
    flex: 1;
}

.jumbotron {
    background-size: cover;
    background-position: 0;
    min-height:400px;
    height: 45vw;
    justify-content: center;
    align-items: flex-end;
}

.jumbotron-text-container {
    padding: 0 55px;
    background-color: #11111150;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10%;
}

.jumbotron-title {
    color: #FFF;
}

.jumbotron-subtitle {
    color: #DFDFDF;
    font-style: italic;
}

.footer div {
    flex: 1 0 auto;
}

.trip {
    margin: 20px;
    padding: 25px;
    background-color: #fff;
    flex: 50%;
    border-radius: 8px;
    flex-direction: column;
}

.trip-header {
    justify-content: space-between;
    align-items: center;
}

.trip-title {
    border-bottom: 4px solid #000;
}

.trip-images {
    align-items: center;
    flex-wrap: wrap;
}

.trip-image {
    padding: 25px;
    box-sizing: border-box;
    flex: 50%;
    text-align: center;
}

.trip-image img {
    border-radius: 8px;
    max-height: 600px;
    max-width: 100%;
}

.date-icon {
    margin-right: .75rem;
}

.date {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}


.date time {
    position: relative;
}
.date time::after {
    content: "";
    width: 60%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: 0;
    right: 0;
}